* {
    text-align: center;
    font: 30px/40px Arial;
    padding: 10px;

}

h1 {
    color: red;
    font: 30px/40px Arial;
}
h2 {
    color: green;
     font: 30px/40px Arial;
}
p {
    color: brown;
     font: 10px/20px Arial;
}
